<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <picture>
      <source
        srcset="/images/site/small_check.jpg"
        media="(max-width: 500px)"
      />
      <img
        class="background-img"
        src="/images/site/checkerboard.jpg"
        alt="Background Image"
      />
    </picture>

    <div id="wrapper">
      <%- include('../partials/header') %> <%- include('../partials/navigation')
      %>

      <main><%- body %></main>

      <%- include('../partials/footer') %>
    </div>
  </body>
</html>
